---
title: In-Air Contractures Navigation
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/bg-hero.jpg
  actions:
    - label: "Learn more"
      url: "#abstract"
    - label: "Read blog"
      url: "/blog/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com/@timswaanphotography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)"
excerpt: "Wrist-tracking, forcefields and punching gesture interactions. We also made an immersive pseudo-VR sensory game."
intro: 
  - excerpt: 'Project built in collaboration with [**UCL**](https://www.ucl.ac.uk/), [**IBM**](https://www.ibm.com/), and [**VR Therapies**](https://vrtherapies.co.uk/).'
feature_row:
  - image_path: assets/images/image 1.gif
    alt: "Wrist-Tracking"
    title: "Wrist-Tracking"
    excerpt: "Here is an example of **wrist-tracking** to control the mouse movement."
  - image_path: /assets/images/image.gif
    alt: "Forcefields"
    title: "Forcefields"
    excerpt: "Here is an example of **forcefields** interactions with 2 levels (walk, mine) in Minecraft."
  - image_path: /assets/images/image 2.gif
    alt: "Punching"
    title: "Punching"
    excerpt: "Here is an example of **punching** interactions with Real Boxing 3."
---

{% include feature_row id="intro" type="center" %}

<img src="http://localhost:4000/2022/group38/assets/images/group-photo-demo2.png">

<div id="abstract">
  <h2>Abstract</h2>
  <h3>Problem statement</h3>
  <p>
    Individuals with contractures, such as those with curved hands resulting from conditions like Cerebral Palsy, face unique challenges when it comes to interacting with digital devices. Traditional input methods such as a mouse, keyboard or game controller require fine motor control and dexterity, which is often not possible for these users. Additionally, performing complex gestures such as pinching fingers, forming the peace sign can be impossible, limiting their ability to use other gesture-based navigation systems.
  </p>
  <p>
    Moreover, individuals with contractures often experience tremors, leading to hand jittering and spasms. This can make it even more challenging for them to interact with digital devices in a comfortable and effective manner.
  </p>
  <p>
    Currently, there is no solution available that effectively addresses these issues, leaving individuals with contractures struggling to use computers and other devices.
  </p>
  <h3>Our solution</h3>
  <p>
    We have developed a cutting-edge Windows application designed specifically for individuals with contractures. The app features an intuitive navigation system that uses wrist-tracking with spasm reduction, speech and gestures, making it both comfortable and easy to use. In addition, we've incorporated novel gesture interactions like forcefields and punching, which can simply be activated by moving your hand towards the camera in 3D space. This allows users to control a wide range of applications and games in a natural and intuitive way. With our technology, individuals with contractures can finally engage with digital devices in a way that was previously impossible.
  </p>

  {% include feature_row %}

  <p>
    In addition to our Windows app, we've also created a base Unity environment. This immersive Pseudo-VR sensory game, called “Nature Adventure” offers users the opportunity to explore various nature scenes while showcasing how navigation and forcefield gestures can be implemented in a gaming context. Our aim with this project is to provide future developers with a foundation upon which they can build their own applications and games, making it easier for them to incorporate these revolutionary new technologies into their own projects.
  </p>

  <img src="http://localhost:4000/2022/group38/assets/images/unity-game.gif" alt="">
  
  <h3>Achievement and impact</h3>
  <p>
    Our project has had a significant impact, as demonstrated by the positive feedback we've received from influential clients and organizations. We've had the privilege of showcasing our technology to a wide range of audiences, including representatives from Intel, IBM, Sony Playstation, Microsoft Xbox, Great Ormond Street Hospital, and more. Their response has been overwhelmingly positive, recognizing the potential our project has to make a real difference in people's lives. We're proud of what we've achieved so far and are excited to continue pushing the boundaries of what's possible with MotionInput v3.2 In-Air Contractures Navigation.
  </p>
</div>
<div>
  <h2>Demo Video</h2>
  <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/y9JZ5DPxwuA" frameborder="0" allowfullscreen></iframe>
</div>
<div>
  <h2>Our Team</h2>
  <div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
      <img src="http://localhost:4000/2022/group38/assets/images/team-default.jpg" />
      <h4>Imaad Zaffar</h4>
      <span>Team Lead | Client Liaison | Full-Stack Developer | Project Website Developer</span>
    </div>
    <div style="flex: 1;">
      <img src="http://localhost:4000/2022/group38/assets/images/team-default.jpg" />
      <h4>Molly Zhu</h4>
      <span>Unity Game Developer | Game UI Designer | Video Editor | Report Editor</span>
    </div>
    <div style="flex: 1;">
      <img src="http://localhost:4000/2022/group38/assets/images/team-default.jpg" />
      <h4>Jie Li</h4>
      <span>Unity Game Developer | Game UI Designer | Report Editor</span>
    </div>
  </div>
</div>
<div>
  <h2>Project Management</h2>
  <img src="http://localhost:4000/2022/group38/assets/images/gantt-chart.png" alt="">
</div>

<!-- ## Abstract

### Problem statement

### Your solution

### Achievement and impact

# Demo Video

- A 8 minutes video to introduce the project and go through the finished functionalities

## Our Team

- (including the team photos where possible) name, email, role or main contribution of
each member. The roles include client liaison, UI design, researcher, programmer, report
editor, tester.

---

- Imaad Zaffar
    - Team Lead | Client Liaison | MotionInput & MFC Developer | Project Website
    - imaad.zaffar.21@ucl.ac.uk
    - [https://linkedin.com/in/imaadzaffar](https://linkedin.com/in/imaadzaffar)
- Molly Zhu
    - Unity Game Developer | Game UI Designer | Report Editor
    - mozhao.zhu.21@ucl.ac.uk
    - [https://linkedin.com/in/jie-li-cs](https://linkedin.com/in/jie-li-cs)
- Jie Li
    - Unity Game Developer | Report Editor
    - jie.li.21@ucl.ac.uk
    - [https://www.linkedin.com/in/mozhao-zhu-104a18229](https://www.linkedin.com/in/mozhao-zhu-104a18229)

## Project Management

- Gantt chart (from October 3 2022 to March 22 2023) -->
