---
title: In-Air Contractures Navigation
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/bg-hero.jpg
  actions:
    - label: "Learn more"
      url: "/requirements/"
    - label: "Read blog"
      url: "/blog/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com/@timswaanphotography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)"
excerpt: "Wrist-tracking, forcefields and punching gesture interactions. We also made an immersive pseudo-VR sensory game."
intro: 
  - excerpt: 'Project built in collaboration with [**UCL**](https://www.ucl.ac.uk/), [**IBM**](https://www.ibm.com/), and [**VR Therapies**](https://vrtherapies.co.uk/).'
feature_row:
  - image_path: assets/images/image 1.gif
    alt: "Wrist-Tracking"
    title: "Wrist-Tracking"
    excerpt: "Here is an example of **wrist-tracking** to control the mouse movement."
  - image_path: /assets/images/image.gif
    alt: "Forcefields"
    title: "Forcefields"
    excerpt: "Here is an example of **forcefields** interactions with 2 levels (walk, mine) in Minecraft."
  - image_path: /assets/images/image 2.gif
    alt: "Punching"
    title: "Punching"
    excerpt: "Here is an example of **punching** interactions with Real Boxing 3."
---

{% include feature_row id="intro" type="center" %}

<div>
  <h2>Abstract</h2>
  <h3>Problem statement</h3>
  <h3>Your solution</h3>

  {% include feature_row %}
  
  <h3>Achievement and impact</h3>
</div>
<div>
  <h2>Demo Video</h2>
</div>
<div>
  <h2>Our Team</h2>
  <div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
      <img src="http://localhost:4000/2022/group38//assets/images/team-default.jpg" />
      <h4>Imaad Zaffar</h4>
      <span>Team Lead | Client Liaison | MotionInput & MFC Developer | Project Website</span>
    </div>
    <div style="flex: 1;">
      <img src="http://localhost:4000/2022/group38//assets/images/team-default.jpg" />
      <h4>Molly Zhu</h4>
      <span>Unity Game Developer | Game UI Designer | Report Editor</span>
    </div>
    <div style="flex: 1;">
      <img src="http://localhost:4000/2022/group38//assets/images/team-default.jpg" />
      <h4>Jie Li</h4>
      <span>Unity Game Developer | Report Editor</span>
    </div>
  </div>
</div>
<div>
  <h2>Project Management</h2>
  <div>[Gantt Chart]</div>
</div>

<!-- ## Abstract

### Problem statement

### Your solution

### Achievement and impact

# Demo Video

- A 8 minutes video to introduce the project and go through the finished functionalities

## Our Team

- (including the team photos where possible) name, email, role or main contribution of
each member. The roles include client liaison, UI design, researcher, programmer, report
editor, tester.

---

- Imaad Zaffar
    - Team Lead | Client Liaison | MotionInput & MFC Developer | Project Website
    - imaad.zaffar.21@ucl.ac.uk
    - [https://linkedin.com/in/imaadzaffar](https://linkedin.com/in/imaadzaffar)
- Molly Zhu
    - Unity Game Developer | Game UI Designer | Report Editor
    - mozhao.zhu.21@ucl.ac.uk
    - [https://linkedin.com/in/jie-li-cs](https://linkedin.com/in/jie-li-cs)
- Jie Li
    - Unity Game Developer | Report Editor
    - jie.li.21@ucl.ac.uk
    - [https://www.linkedin.com/in/mozhao-zhu-104a18229](https://www.linkedin.com/in/mozhao-zhu-104a18229)

## Project Management

- Gantt chart (from October 3 2022 to March 22 2023) -->
